html {
  background-color: #e2e2e2;
  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  transition: all 250ms linear;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid:hover {
  transform: rotate(0deg);
}

/* hadrosaur */

.polaroid:nth-child(1) {
  position: absolute;
  transform: translate(12em, 6em) rotate(-12deg);
  z-index: 3;
}

/* pteranodon */

.polaroid:nth-child(2) {
  position: absolute;
  transform: translate(18em, 9em) rotate(5deg);
  z-index: 4;
}

.polaroid:nth-child(2):hover {
  transform: translate(18em, 9em) rotate(-5deg);
  box-shadow: 2px 3px 9px rgba(0, 0, 0, .12);
  z-index: 1;
}

/* stegosaurus */

.polaroid:nth-child(3) {
  transform: translate(23em, 6em) rotate(35deg);
  z-index: 3;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
